/* html */
html{
    scroll-behavior: smooth;
}
/* header */
nav ul a{
    transition: color .6s ease;
}


nav ul a:hover{
    color: rgb(255, 183, 31);
    text-decoration: underline;
}

/* button */
.btn_outline{
    transition: box-shadow .6s ease;
}

.btn_outline:hover{
    box-sizing: border-box;
    box-shadow: 0 5px 10px  rgba(28, 28, 28,0.5);
}

/* footer button */
.newsletter #btn:hover{
    text-decoration: underline;
}

/* To-top button */

#to-top{
    transition: bottom .2s, box-shadow .2s, transform .2s;
}

#to-top:hover{
    bottom: 35px;
    box-shadow: 3px 4px 2px  rgba(28, 28, 28,0.5);
}

#to-top.show{
    transform: scale(1);
}


/* -------------------------------------------------------- Home Page ---------------------------------------------------------------*/

/* Dishes section */

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.slider{
    --items-per-screen: 3;
    --slider-index: 0;
    --translate-value: calc(-100% / var(--items-per-screen));
    display: flex;
    width: calc(100% - 2* var(--slider-padding)); 
    /* overflow: hidden; */
    transform: translateX(calc(var(--slider-index) * var(--translate-value)));
    transition: transform 450ms ease-in-out;
} 

.slider > .thing{
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    margin: 0;
    /* background-color: rgb(0, 0, 255, 0.2); */
    justify-items: center;
}

.handle{
    width: var(--slider-padding);
    /* background-color: rgb(255, 0, 0,0.25); */
    z-index: 10;
    align-content: center;
}

/* Dishes section */

.carousel{
    --carousel-index: 0;
    --translate-val: -100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    transform: translateX(calc(var(--carousel-index) * var(--translate-val)));
    transition: transform 450ms ease-in-out;
}

.carousel > .info{
    display: flex;
    max-width: 100%;
    gap: 5%;
    align-items: center;
}

/* About section */

.about_text{
    transition: display .6s ease;
}

.about_text button:hover{
    text-decoration: underline;
}

.about_text .hide{
    display: none;
}

.about_text .show{
    display: block;
}

/* Timeline section */

.step{
    transition: background-color .6s ease, color .6s ease;
}

.step:hover{
    background-color: rgb(255, 183, 31);
    border: none;
    p,
    h4{
        color: white;
        opacity: 1;
    }
}

/* -------------------------------------------------------- Menu Page ---------------------------------------------------------------*/

/* Side dishes */
.s_card{
    transition: box-shadow .2s ease;

}
.s_card:hover{
    box-shadow: 4px 4px 15px rgba(28, 28, 28, 0.65);
}

/* Package Plans */

.plan_nav li{
    transition: color .2s ease-in-out;
}

.plan_nav .selected{
    transition: color .2s ease-in-out;
    color: white;
    background-image: linear-gradient(to right, rgb(222, 59, 38) , rgb(255, 183, 31));
}
/* 
.details li{
    transition: color .2s ease-in-out;
} */

/* -------------------------------------------------------- Contact Page ---------------------------------------------------------------*/

/* FAQ section */

.questions li{
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-image: url(../Images/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: top 28px left 34px;
    border-bottom: 1px solid rgba(28, 28, 28, 0.3);
}

.answer{
    color: rgb(28, 28, 28);
    opacity: 100%;
    padding-left: 10px;
    max-height: 0px;
    overflow: hidden;

    transition: max-height 0.2s ease-out;
}
