
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
        /* used colors */
    --p_red: rgba(222, 59, 38, 1.0);
    --s_yellow: rgba(255, 183, 1.0);
    --brand_gradient: linear-gradient(to right, var(--p_red) , var(--s_yellow));
    --white: rgba(255, 255, 255, 1.0);
    --black: rgba(28, 28, 28, 1.0);
    --black75: rgba(28, 28, 28, 0.75);
    --black50: rgba(28, 28, 28, 0.5);
    --black25: rgba(28, 28, 28, 0.25);
    --black10: rgba(28, 28, 28, 0.10);
    --black5: rgba(28, 28, 28, 0.05);

        /* Header menu */

    --menu-size: 130px;

        /* padding and margin */
    --border-tb: 120px; 
    --border-sides: 80px;
    --slider-padding: 5rem;

        /* image dimensions dish section */
    --img-dimensions: 280px;
    --arrow-dimenions: var(--slider-padding);

        /* Dish slider */
    --items-per-screen: 3;
            /* --last-index: has to be increased a new dish in the html is added. var has to be decreased if html dish is removed (change is to be made in css variable) */
    --last-index: 3;
}

/* Default Typography */

html {
    font-size: 14px;
    font-family: 'Arvo','Roboto Flex', 'Roboto Serif';
}

h1{
    font-size: 4.624rem;
    text-transform: uppercase;
    color: var(--black);
    font-weight: bold;
}

h2{
    font-size: 4.110rem;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--black);
}

h3{
    font-size: 3.247rem;
    font-weight: normal;
    text-transform: capitalize;
    color: var(--black);
}

h4{
    font-size: 1.802rem;
    font-weight: normal;
    text-transform: capitalize;
    color: var(--black);
}

h5{
    font-size: 1.802rem;
    font-weight: normal;
    font-family: 'Roboto Serif';
    text-transform: capitalize;
    color: var(--p_red);
    font-style: italic;
}


p{
    color: var(--black75);
    font-family: 'Roboto Flex';
    font-weight: normal;
    font-size: 1.125rem;
    letter-spacing: 0.15%;
    line-height: 22px;
}

/* Other default stuff */

#subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: var(--border-sides);
    gap: 24px;
}

hr{
    width: 92px;
    border: none;
    height: 5px;
    color: var(--p_red);  /* old IE */
    background-color: var(--p_red);  /* Modern Browsers */
}

.btn_outline{
    background-color: var(--s_yellow);
    padding: 24px 48px;
    border-radius: 32px;
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    font-family: 'Arvo';
    font-weight: bold;
    letter-spacing: 0.25%;
    display: inline-flex;
}

form input:focus,
form textarea:focus{
    outline: none;
}

#to-top {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 14px;
    background-color: var(--white);
    transform: scale(0);
    cursor: pointer;
}

/* Header menu */

header{
    display: flex;
    background-color: var(--p_red);
    font-family: 'Roboto Flex', 'Arvo';
    justify-content: space-between;
    align-items: center;
    padding: 12px var(--border-sides);
}
header div{
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    justify-content: space-between;
}

.desktop_nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.desktop_nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.desktop_nav ul a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.125rem;
    letter-spacing: 0.15%;
}

header .sidebar{
    display: none;
    width: fit-content;
}
header .sidebar img{
    width: 28px;
    height: 28px;
}

/* Hero */

.Hero{
    display: flex;
    padding: 0 var(--border-sides);
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.Hero .btn_outline{
    background-image: var(--brand_gradient);
}

#content{
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
    text-align: left center;    
}

#right_hero img{
    width: 100%;
    height: auto;
}

/* Dishes Section */

.Dishes{
    background-color: rgba(255, 183, 31, .05);
    padding: var(--border-tb) 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#dish{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0px var(--border-sides);
}

.handle img{
    width: var(--arrow-dimenions);
}

/* .handle:hover{
    background-color: rgb(255, 0, 0,0.5);
} */

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    width: var(--img-dimensions);
    /* background-color: rgba(0, 0, 255, 0.3) */
}

.card h3{
    height: 112px;
    text-align: center;
}

.card div{
    border-radius: 50%;
    width: var(--img-dimensions);
    height: var(--img-dimensions);
    display: inline-block; 
    position: relative;
    overflow: hidden;
}

.card img{
    width: var(--img-dimensions);
}

.carousel{
    --carousel-index: 0;
    --translate-val: -100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
}

.carousel > .info{
    display: flex;
    max-width: 100%;
    gap: 5%;
    align-items: center;
}

.carousel .show{
    display: flex;
 }
 .carousel .hide{
     display: none;
 }
 
 .arrow{
     cursor: pointer;
 }

/* Services section */

.Services{
    padding: var(--border-tb) 0px;
    display: flex;
    flex-direction: column;
}

.container2{
    margin: 0px var(--border-sides);
    overflow: hidden;
}



.grid_photo{
    width: 50%;
    /* border: solid 1px black; */
}

.grid_photo ul{
    display: grid;
    list-style-type: none;
    grid-template-rows: 1fr 2fr 1fr; 
    grid-template-columns: 4fr 1fr 4fr;
}

.grid_photo li{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.grid_photo img{
    width: 100%;
}

.grid_photo li:nth-child(1){
    background-image: url(../Images/Cazo_vertical.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(222, 59, 38, 1.0);
    background-blend-mode: overlay;
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.grid_photo li:nth-child(2){
    background-image: url(../Images/Tacos_Bright.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
}

.right_sect{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 5%;
}

#point{
    align-self: center;
    cursor: pointer;
}

.pointer{
    width: var(--arrow-dimenions);
}

.Services #content{
    justify-content: center;
}

.Services .btn_outline{
    background-image: var(--brand_gradient)
}

/* Yellow Banner */

.banner{
    background-color: var(--s_yellow);
    padding: var(--border-tb) var(--border-sides);
    text-align: center;
}

.banner h3{
    color: var(--white);
    text-transform: uppercase;
}

.banner span{
    color: var(--p_red);
}

/* Timeline */

.timeline{
    padding: var(--border-tb) var(--border-sides);
    display: flex;
    flex-direction: column;
}

.steps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.steps2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.step{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 10px  rgba(28, 28, 28,0.5);
    padding: 56px;
    min-width: 300px;
    width: 420px;
    align-items: center;
    gap: 40px;
}

.step div{
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;
}

/* About */

.about{
    padding: var(--border-tb) var(--border-sides);
    background-color:rgba(255, 183, 31, .05);
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;
}


.info2{
    display: flex;
    flex-direction: column;

    width: 50%;
}

.about #subtitle{
    align-items: start;
    margin-bottom: 40px;
}


.parroquia{
    width: 60%;
    height: 600px;
    background-image: url(../Images/parroquia-dolores.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.about_text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about_text ul{
    font-family: 'Roboto Flex';
    font-size: 1.125rem;
    color: var(--black75);
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: inside;
    letter-spacing: 0.15%;
}

.about_text button{
    color: var(--black);
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.about_text hr{
    height: 1px;
    width: 100%;
}

/* Important section */

.important{
    padding: var(--border-tb) var(--border-sides);
    text-align: center;
    font-family: 'Roboto Serif';
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
}

.top{
    background-color: var(--p_red);
    display: flex;
    flex-direction: column;
    padding: var(--border-sides);
    gap: 40px;
    
}

.contact-info{
    display: flex;
    flex-direction: row;
    gap: var(--border-sides);
}

.contact-info div{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
}

.contact-info h3{
    color: var(--white);
    text-transform: uppercase;
}

.contact-info p{
    color: var(--white);
}

.top #subtitle{
    align-items: start;
    margin-bottom: 0px;
}

.contact-info hr{
    color: var(--s_yellow);  /* old IE */
    background-color: var(--s_yellow);  /* Modern Browsers */
}

#socials{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#socials img{
    width: 20px;
    height: 20px;
}

.bottom{
    display: flex;
    flex-direction: row;
    gap: 24px;
    background-color: var(--s_yellow);
    padding: 40px var(--border-sides);
    justify-content: center;
    align-items: center;
}

.bottom p{
    color: var(--black);
}

.newsletter{
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    border-radius: 40px;
    width: 100%;
    max-width: 400px;
   
}

.newsletter #email{
    color: var(--black);
    font-family: 'Roboto Flex';
    font-weight: normal;
    font-size: 1.125rem;
    letter-spacing: 0.15%;
    width: 100%;
    padding: 16px;
    background-color: transparent;
    border: none;
}

.newsletter #btn{
    font-family: 'Arvo';
    text-transform: uppercase;
    color: var(--p_red);
    padding: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*------------------------Menu page------------------------*/

/* Little Hero */

.little_hero{
    background-image: url('../Images/puesto_horizontal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.little_hero div{
    background-color: rgba(222, 59, 38, .6);
    padding: var(--border-tb) var(--border-sides);
    width: 100%;
}

.little_hero h1{
    color: var(--white);
}

/* Package Plans */

#pickup{
    display: flex;
    flex-direction: row;
}

#pickup #subtitle{
    width: 50%;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--s_yellow);
}

#pickup #subtitle h2{
    color: var(--white);
}

#pickup #frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgba(255, 183, 31, 0.1);
    padding: var(--border-tb) var(--border-sides);
   
}

/* ada */

#on_site{
    display: flex;
    flex-direction: row;
}

#on_site #subtitle{
    width: 50%;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--p_red);
}

#on_site #subtitle hr{
    color: var(--s_yellow);
    background-color: var(--s_yellow);
}

#on_site #subtitle h2{
    color: var(--white);
}

#on_site #frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgba(255, 183, 31, 0.1);
    padding: var(--border-tb) var(--border-sides);
   
}

.plan_card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white);
    width: fit-content;
    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
    border-radius: 16px;
    padding: 24px;
}

.plan_nav{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: rgba(28, 28, 28, 0.25);
    border-width: 1px;
    border-radius: 40px;
    padding: 4px;
    list-style: none;
}

.plan_nav li{
    display: flex;
    width: 90px;
    height: 55px;
    /* padding: 12px 24px; */
    font-size: 1.802rem;
    align-items: center;
    justify-content: center;
    /* border-style: solid;
    border-width: 1px; */
    border-radius: 40px;
    color: var(--black);
    cursor: pointer;
}

#price{
    display: flex;
}

sub{
    font-size: 1rem;
    align-self:last baseline;
    padding-bottom: 16px;
    padding-left: 2px;
    padding-right: 2px;
}

/* .plan_nav ul li:nth-child(1) a{
    color: var(--white);
} */


.plan_card .pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

sup{
    font-weight: normal;
    font-size: 32px;
}

.plan_card hr{
    width: 100%;
    height: 1px;
    color: rgba(28, 28, 28, 0.25);
    background-color: rgba(28, 28, 28, 0.25);
}

.plan_card .details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: inside none;
   
}

.plan_card .details li{
    font-family: 'Roboto Flex';
    justify-content: center;
    align-items: center;
    padding-left: 24px;
}

.y-detail{
    background-image: url('../Images/check-circle.svg');
    background-repeat: no-repeat;
    color: var(--black);
}

.x-detail{
    background-image: url('../Images/x-circle.svg');
    background-repeat: no-repeat;
    color: rgba(28, 28, 28,0.5);
}

.plan_card .btn_outline{
    width: 100%;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Arvo', 'Roboto Flex';
    background-image: var(--brand_gradient)
}

/* Menu banner */

#menu_banner{
    background-image: var(--brand_gradient);
    padding: var(--border-tb);
    justify-content: center;
    text-align: center;
}

#menu_banner h2{
    color: var(--white);
}

/* Table */

.table{
    padding: var(--border-tb) 240px;
}

table{
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

th,
td{
    padding: 12px 24px;
}

table th,
tfoot td{
    text-align: start;
    background-color: var(--p_red);
}

table thead tr th:nth-last-child(1),
table thead tr th:nth-last-child(2){
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    width: var(--border-tb);
}

table tbody tr td:nth-last-child(1),
table tbody tr td:nth-last-child(2)
{
    text-align: center;
}


table thead tr th:nth-child(1){
    text-align: start;
    text-transform: uppercase;
    color: var(--white);
}

table tbody tr:nth-child(1),
table tbody tr:nth-child(8){
    background-color: var(--s_yellow);
    text-align: start;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
}

table tbody tr{
    border-bottom: 1px solid rgba(28, 28, 28, 0.25);
}

table tbody tr:nth-child(1),
table tbody tr:nth-child(7),
table tbody tr:nth-child(8),
table tbody tr:nth-child(17){
    border-bottom: 0px solid;
}

table tfoot tr td{
    font-family: 'Roboto Flex';
    font-weight: normal;
    color: var(--white);
}

/* Sides section */

.sides{
    background-color: rgba(255, 183, 31,0.1);
    padding: var(--border-tb) 160px;
}

.sides_cards{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    height: fit-content;
    width: 100%;
    /* grid-column-gap: 100px; */
    justify-content: space-between;
}

.s_card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: start;
    background-color: var(--white);
    box-shadow: 5px 5px 15px rgba(28, 28, 28, 0.3);
}

#card_img{
    width: 400px;
    height: var(--img-dimensions);
    display: inline-block; 
    position: relative;
    overflow: hidden;
}

.s_card img{
    width: 400px;
}

#card_bottom{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 24px;
    margin-bottom: 24px;
    width: 100%;
}

#s_and_price{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#s_and_price hr{
    width: 100%;
    border: none;
    height: 1px;
    background: #000;
    background: repeating-linear-gradient(90deg,var(--black75),var(--black75) 6px,transparent 6px,transparent 12px);
}

#s_and_price span{
    color: var(--p_red);
}

/* Other dishes */

.other{
    padding: var(--border-tb) var(--border-sides);
}

.other h3{
    text-transform: uppercase;
}

.other ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.other ul li{
    text-transform: capitalize;
}

/*------------------------Contact page------------------------*/

/* Little Hero */

.little_hero2{
    background-image: url('../Images/apa_puesto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.little_hero2 div{
    background-color: rgba(222, 59, 38, .6);
    padding: var(--border-tb) var(--border-sides);
    width: 100%;
}

.little_hero2 h1{
    color: var(--white);
}

/* FAQ section*/

#faq{
    padding: var(--border-tb) var(--border-sides);
}

.questions{
    list-style: none;
    cursor: pointer;
}

.question h4{
    text-transform: none;
    padding-left: 72px;
    list-style: none;
}

.answer{
    max-height: 0px;
    overflow: hidden;
}

.answer_content{
    padding-top: 20px;
}

/* Fill-out form */

.fill_form{
    background-color: rgba(255, 183, 31,0.1);
    padding: var(--border-tb) var(--border-sides);
}

.message_form{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

#title_stuff{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

#title_stuff h2,
#title_stuff h5{
    text-transform: none;
}

.p_info{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.message_form input,
.message_form textarea{
    width: 100%;
    padding: 24px 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(28, 28, 28, 0.3);
    font-family: 'Roboto Flex', 'Arvo';
   
}

.message_form textarea{
    resize: none;
    height: 64px;
}

.message_form .btn_outline{
    text-transform: uppercase;
    font-weight: bold;
    background-image: var(--brand_gradient)
}

/*------------------------Animation stuff------------------------*/

/* html */
html{
    scroll-behavior: smooth;
}
/* header */
.desktop_nav ul a{
    transition: color .6s ease;
}


.desktop_nav ul a:hover{
    color: var(--s_yellow);
    text-decoration: underline;
}

/* button */
.btn_outline{
    transition: box-shadow .6s ease;
}

.btn_outline:hover{
    box-sizing: border-box;
    box-shadow: 0 5px 10px  rgba(28, 28, 28,0.5);
}

/* footer button */
.newsletter #btn:hover{
    text-decoration: underline;
}

/* To-top button */

#to-top{
    transition: bottom .2s, box-shadow .2s, transform .2s;
}

#to-top:hover{
    bottom: 35px;
    box-shadow: 3px 4px 2px  rgba(28, 28, 28,0.5);
}

#to-top.show{
    transform: scale(1);
}


/* -------------------------------------------------------- Home Page ---------------------------------------------------------------*/

/* Dishes section */

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.slider{
    --slider-index: 0;
    
    --translate-value: calc(-100% / var(--items-per-screen));
    display: flex;
    width: calc(100% - 2* var(--slider-padding)); 
    /* overflow: hidden; */
    transform: translateX(calc(var(--slider-index) * var(--translate-value)));
    transition: transform 450ms ease-in-out;
} 

.slider > .thing{
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    margin: 0;
    /* background-color: rgb(0, 0, 255, 0.2); */
    justify-items: center;
}

.handle{
    width: var(--slider-padding);
    background-color: rgb(255, 250, 244);
    z-index: 10;
    align-content: center;
}

/* Dishes section Home */

.carousel{
    transform: translateX(calc(var(--carousel-index) * var(--translate-val)));
    transition: transform 450ms ease-in-out;
}



/* About section */

.about_text{
    transition: display .6s ease;
}

.about_text button:hover{
    text-decoration: underline;
}

.about_text .hide{
    display: none;
}

.about_text .show{
    display: block;
}

/* Timeline section */

.step{
    transition: background-color .6s ease, color .6s ease;
}

.step:hover{
    background-color: var(--s_yellow);
    border: none;
    p,
    h4{
        color: var(--white);
    }
}

/* -------------------------------------------------------- Menu Page ---------------------------------------------------------------*/

/* Side dishes */
.s_card{
    transition: box-shadow .2s ease;

}
.s_card:hover{
    box-shadow: 4px 4px 15px rgba(28, 28, 28, 0.65);
}

/* Package Plans */

.plan_nav li{
    transition: color .2s ease-in-out;
}

.plan_nav .selected{
    transition: color .2s ease-in-out;
    color: var(--white);
    background-image: var(--brand_gradient)
}
/* 
.details li{
    transition: color .2s ease-in-out;
} */

/* -------------------------------------------------------- Contact Page ---------------------------------------------------------------*/

/* FAQ section */

.questions li{
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-image: url(../Images/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: top 28px left 34px;
    border-bottom: 1px solid rgba(28, 28, 28, 0.3);
}

.answer{
    color: var(--black);
    padding-left: 10px;
    max-height: 0px;
    overflow: hidden;

    transition: max-height 0.2s ease-out;
}

/* Media queries */

@media (max-width: 1600px) {
    :root{
        --border-tb: 60px; 
        --border-sides: 32px;
        --items-per-screen: 2;
        --img-dimensions: 200px;
        --arrow-dimensions: 60px;
        --last-index: 4;
    }

    html{
        font-size: 12px;
    }

    /* Hero */

    .Hero{
        padding: var(--border-tb) var(--border-sides);
    }

    /* Dishes */

    .card h3{
        height: 80px;
    }

    /* services */

    .carousel > .info{
        column-gap: 2%;
    }
    .right_sect{
        gap: 2%;
    }

    /* Timeline */

    .steps{
        flex-direction: column;
    }

    .step{
        width: 340px;
    }

    /* About */

    .parroquia{
        width: 50%;
        /* height: 400px; */
    }

    /* Footer */

    .top{
        gap: 32px;
    }

}

/* @media (max-width: 1000px) {
    :root{
        
    }

}  */

@media (max-width: 920px) {
    /* global stuff & variables */
    :root{
        --border-tb: 40px; 
        --border-sides: 8px;
        --items-per-screen: 1;
        --arrow-dimensions: 40px;
        --last-index: 5;
    }
    html{
        font-size: 10px;
    }

    /* Header */

    header .sidebar{
        display: flex;
    }
 
    .desktop_nav{
        --move: 1;
        flex-direction: column;
        position: absolute;
        overflow: hidden;
        justify-content: start;
        align-items: start;
        max-width: var(--menu-size);
        height: 3000px;
        padding: 12px var(--border-sides);
        top: 0;
        right: 0;
        transform: translateX(calc(var(--move) * var(--menu-size)));
        background-color: var(--s_yellow);
        z-index: 20;
        gap: 24px;
    } 

    .desktop_nav ul a:hover{
        color: var(--p_red);
        text-decoration: underline;
    }

    .desktop_nav ul{
        flex-direction: column;
        gap: 24px;
        padding-left: 16px;
    }

    header .btn_outline{
        background-color: var(--p_red);
        width: 100%;
        padding: 12px;
        justify-content: center;
    }

    /* hero */

    #right_hero{
        display: none;
    }
    .Hero{
        background-image: url(../Images/carnitas_logo_transparent.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0.9);
        background-blend-mode: overlay;
        padding: var(--border-tb) var(--border-sides);
    }

    /* Dishes */

    .card{
        gap: 24px;
    }

    /* timeline */

    .steps2{
        flex-direction: column;
        min-width: 120px;
        max-width: 350px;
        width: 100%;
    }

    .step{
        min-width: 120px;
        max-width: 350px;
        width: 100%;
        min-height: 350px;
    }

    /* About */

    .about{
        flex-direction: column;
    }

    .about div{
        width: 100%;
    }

    .parroquia{
        height: 350px;
    }

    /* footer */

    .top{
        gap: 16px;
    }

    .newsletter{
        max-width: 50%;
    }

}

@media (max-width: 690px) {
    :root{
        --img-dimensions: 150px;
        --arrow-dimensions: 50px;
    }

    /* Dishes */

    /* .card div{
        
    } */

    /* Services */

    .carousel > .info{
        flex-direction: column;
    }

    .grid_photo{
        width: 80%;
    }

    .grid_photo ul{
        grid-template-rows: 1fr; 
        grid-template-columns: 1fr;
    } 

    .grid_photo ul li{
        max-height: 320px;
    } 

    .grid_photo li:nth-child(1){
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .grid_photo li:nth-child(2){
        z-index: -1;
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .right_sect{
        width: 100%;
        height: fit-content;
        gap: 2%;
    }

    #point{
        align-self: baseline;
    }

    /* footer */

    .top{
        gap: 16px;
    }

    .newsletter{
        max-width: 100%;
    }
}