*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arvo','Roboto Flex', 'Roboto Serif';
}

header{
    display: flex;
    background-color: #DE3B26;
    font-family: 'Roboto Flex', 'Roboto Serif';
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}